*{
    box-sizing: border-box;
}

body{
    background-color:#f4f7f6;
    font-family: 'Roboto', sans-serif;
}

/* Top of page, title */
.head{
    display:flex;
    flex-flow:column wrap;
}

.head .title{
    align-self: center;
    font-size: 36px;
}
/* Main section of page, containing sketch pad */
.main{
    display:flex;
    flex-flow:column wrap;
    align-items:center;
}

.gridContainer{
    display:grid;
    background-color: #fff;
    border:solid black 1px;
    height:500px;
    width:500px;
}

.btnContainer{
    margin-top: 25px;
}
.square{
    border:solid #dbdbdbaa 1px;
}

.filled{
    background-color: black;
}
/* Bottom section of page, additional info */
.bottom{

}


