*{
    box-sizing: border-box;
}

body{
    background-color:#f4f7f6;
    font-family: 'Roboto', sans-serif;
}

/* Top of page, title */
.head{
    display:flex;
    flex-flow:column wrap;
}

.head .title{
    align-self: center;
    font-size: 36px;
}
/* Main section of page, containing sketch pad */
.main{
    display:flex;
    flex-flow:column wrap;
    margin: 0 150px;   
    align-items:center;
}

.gridContainer{
    display:grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr); 
    background-color: #fff;
    border:solid black 1px;
    height:400px;
    width:400px;
}

.square{
    border:solid grey 1px;
}
/* Bottom section of page, additional info */
.bottom{

}

